# dependencies
/node_modules

# env
.env

# db - For most project repos, you should ignore the src/diamond/data folder.
#      This project is loaded with a default collection "images",
#      with 1 sample image.
# src/services/diamond/data/*

# misc
.DS_Store
npm-debug.log*
